body{
	background: url('https://huntedcow-huntedcowstudios.netdna-ssl.com/img/wallpaper/fallensword.jpg') black no-repeat;
}
.container{
	margin-top: 20px;
}
#instruction table{
	width: 100%;
}

table.map tr td{
  border-top: 2px solid #FFF;
  border-left: 2px solid #FFF;
}
table.map tr td.selected{
	border: 2px solid #F0F !important;
}